/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";

$tmp: 10px;

$mainBackColor: #16311e;
$mainWidth: 800px;
$mainLeftRightPadding: 40px;
$mainTextColor: #9cb893;
$imagesPadding: 3px;
$imageMaxWidth: $mainWidth - 2 * $mainLeftRightPadding;
$imageHeight4x3: $imageMaxWidth * 3 / 4;
$imageWidth2x3_twoOnRow: (($imageMaxWidth - $imagesPadding)/ 2);
$imageHeight2x3_twoOnRow: $imageWidth2x3_twoOnRow / 2 * 3;

/*@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');*/
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

.elya {
  width: $mainWidth;
  margin-left: auto;
  margin-right: auto;
  /*font-family: arial, Helvetica, sans-serif;*/
  /*font-family: Tahoma, Geneva, sans-serif;*/
  /*font-family: Verdana, Geneva, sans-serif;*/
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  //font-weight: bold;
  color: $mainTextColor;
  background-color: $mainBackColor;
  .title {
    background-image: url("../img/title.jpg");
    height: $mainWidth / 2;
    background-size: cover;
  }
  .content {
    padding-left: $mainLeftRightPadding;
    padding-right: $mainLeftRightPadding;
    text-align: center;
    h1 {
      /*padding: 5px 0px 15px 0px;*/
      font-family: 'Libre Baskerville', serif;
      //margin-top: 10px;
      margin-bottom: 0px;
      font-size: 35px;
      font-weight: normal;
      //font-weight: bold;
      /*letter-spacing: -1px;*/
      //color: #495937;
    }
    h1.welcome {
      margin-top: 60px;
      hr {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 430px;
        size: 2px;
        border-color: rgba($mainTextColor, 0.5);
      }
    }
    .topDescription {

    }
    .photos {
      margin-top: 50px;
      ul {
        display: inline-block;
        &, & li {
          margin: 0;
          padding: 0;
          list-style: none;
        }
        li {
          float: left;
          box-sizing: border-box;
          padding: $imagesPadding;
          width: 100px;
          height: 100px;
          &.size2x3_twoOnRow{
            width: $imageWidth2x3_twoOnRow;
            height: $imageHeight2x3_twoOnRow;
          }
          &.size1x1{
            width: $imageMaxWidth;
            height: $imageMaxWidth;
          }
          &.size4x3{
            width: $imageMaxWidth;
            height: $imageHeight4x3;
          }
          div {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
          }
        }
      }
    }
    .bottomDescription {
      padding-top: 50px;
      padding-bottom: 20px;
      hr {
        //margin-top: 10px;
        //margin-bottom: 10px;
        width: 430px;
        size: 2px;
        border-color: rgba($mainTextColor, 0.5);
      }
    }
  }
}
