/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');*/
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");
/* line 25, ../sass/screen.scss */
.elya {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  /*font-family: arial, Helvetica, sans-serif;*/
  /*font-family: Tahoma, Geneva, sans-serif;*/
  /*font-family: Verdana, Geneva, sans-serif;*/
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #9cb893;
  background-color: #16311e;
}
/* line 39, ../sass/screen.scss */
.elya .title {
  background-image: url("../img/title.jpg");
  height: 400px;
  background-size: cover;
}
/* line 44, ../sass/screen.scss */
.elya .content {
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}
/* line 48, ../sass/screen.scss */
.elya .content h1 {
  /*padding: 5px 0px 15px 0px;*/
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 0px;
  font-size: 35px;
  font-weight: normal;
  /*letter-spacing: -1px;*/
}
/* line 59, ../sass/screen.scss */
.elya .content h1.welcome {
  margin-top: 60px;
}
/* line 61, ../sass/screen.scss */
.elya .content h1.welcome hr {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 430px;
  size: 2px;
  border-color: rgba(156, 184, 147, 0.5);
}
/* line 72, ../sass/screen.scss */
.elya .content .photos {
  margin-top: 50px;
}
/* line 74, ../sass/screen.scss */
.elya .content .photos ul {
  display: inline-block;
}
/* line 76, ../sass/screen.scss */
.elya .content .photos ul, .elya .content .photos ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 81, ../sass/screen.scss */
.elya .content .photos ul li {
  float: left;
  box-sizing: border-box;
  padding: 3px;
  width: 100px;
  height: 100px;
}
/* line 87, ../sass/screen.scss */
.elya .content .photos ul li.size2x3_twoOnRow {
  width: 358.5px;
  height: 537.75px;
}
/* line 91, ../sass/screen.scss */
.elya .content .photos ul li.size1x1 {
  width: 720px;
  height: 720px;
}
/* line 95, ../sass/screen.scss */
.elya .content .photos ul li.size4x3 {
  width: 720px;
  height: 540px;
}
/* line 99, ../sass/screen.scss */
.elya .content .photos ul li div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 110, ../sass/screen.scss */
.elya .content .bottomDescription {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* line 113, ../sass/screen.scss */
.elya .content .bottomDescription hr {
  width: 430px;
  size: 2px;
  border-color: rgba(156, 184, 147, 0.5);
}
